:root {
  --first-color: #1b1b32;
  --second-color: #0a0a23;
  --third-color: #f5f6f7;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
}

.figure {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--second-color);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.figure .figure__logo {
  width: 60%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--third-color);
  padding: 1rem 0 1.8rem;

  margin-top: 56px;
}

.header .header__title {
  font-size: 27px;
  text-wrap: wrap;
  text-align: center;
  padding: 0.5rem 0 2rem;
  line-height: 29.7px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
