:root {
  --first-color: #1b1b32;
  --second-color: #0a0a23;
  --third-color: #f5f6f7;
  --fourth-color: #cbd5e1;
  --fitfh-color: #55667c;
}

.section__testimony {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100%;
}

.description {
  width: 100%;
  padding: 25px;
  line-height: 25.7px;
  text-align: center;
  color: var(--third-color);
  background-color: var(--second-color);
  font-size: 21.6px;
}

.name {
  padding: 10px 0 15px;
}

.job-title {
  padding: 0 0 30px;
}

.comment {
  text-align: justify;
  font-size: 19.8px;
}
